@font-face
{
    font-family: Neutraface;
    src: url(NeutraText-Book.ttf);
}

body, header, nav, section, aside, footer, div, ul, li, h1, h2, h3 {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size: 1em;
    vertical-align:baseline;
    background:transparent;
    font-family: Neutraface;

}

#wrapper {
    margin: 0 auto;
    border: 1px solid black;
    border-bottom: none;
    border-top: none;
    width: 1100px;
    height: 1000px;   
}

header.main-header {
    width: 100%;
    height: 200px;
    border-bottom:  1px solid black;
    background-color: #67ADF3;

}

section {
    width: 100%;
    height: 600px;
    border-bottom: 1px solid black;
}

body > footer {
    height: 200px;
    width: 100%;
}



/*COLORS TO USE
    #71be43 - green
    #3d7337 - darker green
    #334da0 - blue
    #1d2453 - darker blue
*/

.logo {
    font-size: 5.5em;
    text-align: left;
    margin-left: 17px;
    font-family: Neutraface;
    color: #334da0;
    height: 100%;
}

.hover-element {
    background-color: black;

}
.logo:hover {
    -webkit-filter: blur(2px);
}
a {
    text-decoration: none;
}

.nav-bar li {
    display: inline-block;
    padding: 15px;
    font-size: 25px;
    margin-right: 5px;
    background-color: #67ADF3;
}

.nav-bar li:active {
    color: #334da0;
}

.nav-bar li:visited {
    color: #334da0;
}

.nav-bar ul {
    float: right;
    margin-top: -65px;
 }

.last-li {
    border-right: none;
}
