@font-face
{
    font-family: Neutraface;
    src: url(NeutraText-Book.ttf);
}

body, header, nav, section, aside, footer, div, ul, li, h1, h2, h3 {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size: 1em;
    vertical-align:baseline;
    background:transparent;
    font-family: Neutraface;

}

#wrapper {
    margin: 0 auto;
    width: 85%;
    border: 1px solid black;
    overflow: hidden; 
}


header.main-header {
    position: relative;
    width: 100%;
    padding-bottom: 10px;
    border-bottom:  1px solid black;
    background-color: #67ADF3;

}

    header h1 {
        display: inline-block;
        font-size: 4.3em;
        text-align: left;
        margin-left: 17px;
        font-family: Neutraface;
        color: #334da0;
        font-weight: normal;
    }

a {
    text-decoration: none;
    color: #334da0;
}

nav {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 0;
}

    .nav-bar li {
        display: inline-block;
        padding: 15px;
        font-size: 1.3em;
        margin-right: 5px;
        background-color: #67ADF3;
    }

    .nav-bar li:active, .nav-bar li:visited {
        color: #334da0;
    }

    nav ul li:last-child {
        padding-left: 30px;
    }


/*section {
    width: 100%;
    height: 600px;
    border-bottom: 1px solid black;
}*/

/*body > footer {
    height: 200px;
    width: 100%;
}*/

/*COLORS TO USE
    #71be43 - green
    #3d7337 - darker green
    #334da0 - blue
    #1d2453 - darker blue
*/

/*.logo:hover {
    -webkit-filter: blur(2px);
}*/


