html, body, header, section, h1, h2, h3, div, form, fieldset input, button, a, ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    font-family: Calibri, sans-serif;
    font-size: 16px;
    color: white;
    background-color: green;
    background-repeat: no-repeat;
}

section form {
    display: inline-block;
    width: 35%;
}

    form fieldset {
        border: 1px solid #fff;
        border-radius: 10px;
    }
















a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding-left: 5px;
}

::-webkit-input-placeholder {
    color: white;
    opacity: 5 !important; /* for chrome */
}

:-moz-placeholder { /* Firefox 18- */
    color: #FFFFFF;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #FFFFFF;
}

:-ms-input-placeholder {  
   color: #FFFFFF;
}

.invisible {
    display: none;
}